<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--路径下面不能加/-->
<head lang="en" th:replace="main/public :: #public_head">

</head>
<body>
<!--头部-->
<header class="publicHeader" th:replace="main/public :: #public_header">

</header>
<!--时间-->
<section class="publicTime" th:replace="main/public :: #public_time">
</section>

<!--主体内容-->
<section class="publicMian">
    <div class="left" th:replace="main/public :: #public_left">
    </div>
    <div class="right">
        <img class="wColck" th:src="@{/img/clock.jpg}" src="../img/clock.jpg" alt=""/>
        <div class="wFont">
            <h2 th:text="${session.loginUser.username}">Admin</h2>
            <p>欢迎来到鑫鑫超市账单管理系统! main.html-->main/index.html</p>
			<span id="hours"></span>
        </div>
    </div>
</section>
<footer class="footer"><div style="text-align:center;">
    <p><a href="http://localhost:8080/" target="_blank">
        鑫鑫超市</a> 版权所有</p></div>
</footer>
<!--
	<script src="js/time.js"></script>
	-->

</body>
</html>