<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--路径下面不能加/-->
<head lang="en" th:replace="manager/public :: #public_head">
</head>
<body>
<!--头部-->
<header class="publicHeader" th:replace="manager/public :: #public_header">
</header>
<!--时间-->
<section class="publicTime" th:replace="manager/public :: #public_time">
</section>

<!--主体内容-->
<section class="publicMian ">
    <div class="left" th:replace="manager/public :: #public_left(activeUri='work')">
    </div>
    <div class="right">
        <div class="location">
            <strong>你现在所在的位置是:</strong>
            <span>教师工作量管理页面 >> 查看教师工作量</span>
        </div>
        <div class="providerView">
            <p><strong>教师工号：</strong><span th:text="${work.teacherNumber}">PRO-CODE—001</span></p>
            <p><strong>教师名字：</strong><span th:text="${work.teacherName}">PRO-CODE—001</span></p>
            <p><strong>教师工作量：</strong><span th:text="${work.raceLevel == 1?'0.8': work.raceLevel==2 ?'1':'1'}"></span></p>
            <p><strong>参与比赛名称：</strong><span th:text="${work.raceName}">PRO-CODE—001</span></p>
            <p><strong>参与队伍名称：</strong><span th:text="${work.teamName}">PRO-CODE—001</span></p>
            <a th:href="@{/works}" href="list.html">返回</a>
        </div>
    </div>
</section>
<footer class="footer" th:replace="manager/public :: #public_footer">
</footer>
</body>
</html>