<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.competition.mapper.TeacherWorkMapper">

    <select id="getLists" resultType="com.competition.entities.TeacherWork">
        select * from teacher_work where  1=1

    </select>

    <insert id="addTeacherWork">
        INSERT INTO `teacher_work`( `teacher_id`, `h_province`, `h_school`, `l_prize`, `l_other`, `f_team`, `f_exam`, `other_number`,`total_number`)
        VALUES (#{teacherId},#{hProvince},#{hSchool},#{lPrize},#{lOther},#{fTeam},#{fExam},#{otherNumber},#{totalNumber})
    </insert>

    <update id="updateTeacherWork">
        UPDATE `teacher_work`
        SET `teacher_id` = #{teacherId}, `h_province` = #{hProvince}, `h_school` = #{hSchool}, `l_prize` = #{lPrize}, `l_other` = #{lOther}, `f_team` =#{fTeam}, `f_exam` = #{fExam}, `other_number` = #{otherNumber},`total_number` = #{totalNumber}
        WHERE `wid` = #{wid};
    </update>


    <select id="getTeacherWorkById" resultType="com.competition.entities.TeacherWork">
        select * from teacher_work where wid=#{wid}
    </select>


    <delete id="deleteTeacherWorkById">
        delete from teacher_work where wid=#{wid}
    </delete>

</mapper>