<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--路径下面不能加/-->
<head lang="en" th:replace="manager/public :: #public_head">
</head>
<body>
<!--头部-->
<header class="publicHeader" th:replace="manager/public :: #public_header">
</header>
<!--时间-->
<section class="publicTime" th:replace="manager/public :: #public_time">
</section>

<!--主体内容-->
<section class="publicMian ">
    <div class="left" th:replace="manager/public :: #public_left(activeUri='financial')">
    </div>

    <div class="right">
        <div class="location">
            <strong>你现在所在的位置是:</strong>
            <span>预计经费管理</span>
        </div>
        <form id="searchForm" th:action="@{/mfinancials}" th:method="get">
            <div class="search">
                <span>队伍名称：</span>
                <input type="text" th:value="${teamName}"  name="teamName" placeholder="请输入参赛队伍名称"/>
                <input type="button" onclick="$('#searchForm').submit()" value="查询"/>
                <a th:href="@{/addPredictFinance}" th:method="get" href="add.html">添加预计经费</a>
            </div>
        </form>
        <!--经费操作表格-->
        <table class="providerTable" cellpadding="0" cellspacing="0" >
            <tr class="firstTr">
                <th width="20%">队伍名称</th>
                <th width="20%">比赛名称</th>
                <th width="10%">报名费</th>
                <th width="10%">差旅费</th>
                <th width="10%">住宿费</th>
                <th width="10%">合计费用</th>
                <th width="20%">操作</th>
            </tr>
            <tr th:each="p: ${pageInfo.list}">
                <td th:text="${p.teamName}">PRO-CODE—001</td>
                <td th:text="${p.raceName}">PRO-CODE—001</td>
                <td th:text="${p.paymentPrice}">PRO-CODE—001</td>
                <td th:text="${p.carPrice}">PRO-CODE—001</td>
                <td th:text="${p.roomPrice}">PRO-CODE—001</td>
                <td th:text="${p.totalPrice}">PRO-CODE—001</td>
                <td>
                    <a th:href="@{/mfinancials/}+${p.preid}" href="view.html"><img th:src="@{/img/read.png}"  alt="查看" title="查看"/></a>
<!--                    <a th:href="@{/financials/}+${p.fid}+'?type=update'" href="update.html"><img th:src="@{/img/xiugai.png}"  alt="修改" title="修改"/></a>-->
                    <!--  绑定属性    -->
                    <a th:attr="del_uri=@{/mfinancials/}+${p.preid}" href="#"  class="delete"><img th:src="@{/img/schu.png}" alt="删除" title="删除"/></a>
                </td>
            </tr>


            <tr class="firstTr" style="color: blue">
                <th width="20%"><p style="color: blue">当前 <span th:text="${pageInfo.pageNum}"></span> 页,总 <span th:text="${pageInfo.pages}"></span> 页,共 <span th:text="${pageInfo.total}"></span> 条记录</p></th>
                <th width="10%" style="border: none"></th>
                <th width="10%"><a style="color: blue" th:href="@{/mfinancials}">首页</a></th>
                <th width="20%"><a style="color: blue" th:href="@{/mfinancials(pageNum=${pageInfo.hasPreviousPage}?${pageInfo.prePage}:1)}">上一页</a></th>
                <th width="20%"><a style="color: blue" th:href="@{/mfinancials(pageNum=${pageInfo.hasNextPage}?${pageInfo.nextPage}:${pageInfo.pages})}">下一页</a></th>
                <th width="20%" style="margin-left: 20%"><a style="color: blue" th:href="@{/mfinancials(pageNum=${pageInfo.pages})}">尾页</a></th>
            </tr>

        </table>


    </div>
</section>

<!--点击删除按钮后弹出的页面-->
<div class="zhezhao"></div>
<form method="post", id="deleteForm">
    <input type="hidden" name="_method" value="delete">
    <div class="remove" id="removeProv">
       <div class="removerChid">
           <h2>提示</h2>
           <div class="removeMain" >
               <p>你确定要删除吗？</p>
               <a href="#" id="yes">确定</a>
               <a href="#" id="no">取消</a>
           </div>
       </div>
    </div>
</form>


<footer class="footer" th:replace="manager/public :: #public_footer">
</footer>
</body>
</html>