<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>500  -->  -_-  <--  </title>
</head>
<body>
<h1 style="margin: auto;color: #17559e">500错误</h1>
<h1 style="margin: auto;color: #17559e">代码调试中，请您等待</h1>

<p>[[${timestamp}]]</p>
<hr/>
<p>[[${status}]]</p>

<p>[[${message}]]</p>

<p>[[${exception}]]</p>

<p>[[${error}]]</p>

<p>[[${company}]]</p>
<input style="width: 50px;height: 30px" type="button" value="返回" onclick="history.back(-1)"/>
</body>
</html>